/* Rotation du logo */
.rotating-logo1 {
    width: 30px;
    height: 30px;
    animation: rotate-pause 5s linear infinite;
    /* Rotation 1 seconde puis pause 10 secondes */
}

/* Animation de rotation */
@keyframes rotate-pause {
    0% {
        transform: rotate(0deg);
    }

    9.09% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Navbar vertical */
.navbar {
    /* cote mobile */
    left: -250px;
    /* fin cote mobile */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150px;
    left: -70px;
    border: 1px solid rgba(208, 248, 238, 0.2);
    justify-content: flex-start;
    background-color: rgba(195, 219, 245, 0.2);
    /* Ajouter un fond bleu clair */
    transition: left 0.3s ease;
    padding-right: 15px;
    border-radius: 0 15px 15px 0;
    height: 70%;
    padding-top: 15px;
}

/* Navbar visible */
.navbar.show {
    left: 0;
    /* Navbar visible, collée au bord gauche */
}

/* Navbar cachée */
.navbar.hide {
    left: -250px;
    /* Navbar cachée, hors de l'écran */
}

/* Zone d'activation pour le survol */
body:hover .navbar {
    left: 0;
    /* Faire apparaître la navbar lorsque la souris approche */
}

/* Chaque logo container a son propre style avec un contour */
.logo-container {
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid rgba(42, 226, 250, 0.2);
    /* Contour 1px autour de chaque logo */
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* Supprimer la décoration de lien */
    transition: background-color 0.3s ease;
    /* Transition douce des couleurs */
}

.le-logo-de-lapplication {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid rgba(42, 226, 250, 0.2);
}

/* Change la couleur au survol */
.logo-container:hover {
    background-color: rgba(0, 123, 255, 0.4);
    /* Bleu plus foncé au survol */
}

/* Couleur différente pour l'élément actif */
.logo-container.active {
    background-color: rgba(65, 250, 157, 0.6);
    /* Couleur plus foncée pour l'élément actif */
}

.logo {
    width: 60px;
    height: 60px;
}